<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.dao.PageDao">


    <select id="getAllCompanyAdmin"  resultType="com.zx.beans.Company">
        select  *from company
    </select>

    <select  id="getCompanyByCpyNameAndCpyAddress" resultType="com.zx.beans.Company" parameterType="java.lang.String"  >
         select *from company where  1=1
         <if test="cpyName!=null">
        and cpyname like concat('%',#{cpyName},'%')
         </if>
         <if test="cpyAddress!=null">
        and cpyaddress like concat('%',#{cpyAddress},'%')
         </if>
    </select>
    <select id="getAllOccupation" resultType="com.zx.beans.Temporary" useCache="true" >
        SELECT o.id,ocname,salary,requirement,workplace,worktime,cao.state,cpyname from occupation o LEFT JOIN  cpyandoc cao on o.id=cao.occupationid LEFT JOIN company c on cao.companyid=c.id where cao.id!=0
   </select>

    <select id="getOccupationByOcName" resultType="com.zx.beans.Temporary" >
        SELECT  o.id,ocname,salary,requirement,workplace,worktime,cao.state,cpyname from occupation o LEFT JOIN  cpyandoc cao on o.id=cao.occupationid LEFT JOIN company c on cao.companyid=c.id where cao.id!=0 and 1=1
        <if test="ocName!=null">
        and ocname like concat('%',#{ocName},'%')
        </if>
       <if test="cpyName!=null">
        and cpyname like concat('%',#{cpyName},'%')
        </if>
       <if test="workPlace!=null">
        and workplace like concat('%',#{workPlace},'%')
        </if>
       <if test="requirement!=null">
        and requirement like concat('%',#{requirement},'%')
        </if>
    </select>

    <select id="getAllStudent" resultType="com.zx.beans.Student" useCache="true" >
            select *from student
    </select>


</mapper>