<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.dao.ResumeDao">

    <select id="getStudentResumeById" parameterType="int" resultType="com.zx.beans.Resume">
        select * from resume where id = #{id}
    </select>

    <insert id="createResume">
        insert into resume values (null,#{name},#{gender},#{age},#{imaurl},#{address},#{phone},#{email},#{hobby},#{major},#{workExperience},#{selfEvaluation})
    </insert>


</mapper>
