<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.dao.ResumeDao">

    <select id="getStudentResumeById" parameterType="int" resultType="com.zx.beans.Resume">
        select * from resume where id = #{id}
    </select>

    <insert id="createResume"  parameterType="com.zx.beans.Resume"  useGeneratedKeys="true" keyProperty="resume.id">
        insert into resume values (null,#{resume.name},#{resume.age},#{resume.imaurl},#{resume.address},#{resume.phone},#{resume.email},#{resume.hobby},#{resume.major},#{resume.workExperience},#{resume.selfEvaluation})
    </insert>

    <update id="insertResumeIntoStudent" >
        update   student set stresumeid=#{resumid} where id=#{studentid}
    </update>

</mapper>
