<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.dao.SearchDao">

   <select id="searchOccupation" resultType="com.zx.beans.Occupation" >
      SELECT * FROM occupation   where 1=1
    <if test="data!=null">
      and workplace LIKE concat('%',#{data},'%')
    </if>
      <if test="requirement!=null">
         and requirement like concat('%',#{requirement},'%')
      </if>
      <if test="salary!=null">
         and salary like concat('%',#{salary},'%')
      </if>
      <if test="ocname!=null">
         and ocname like concat('%',#{ocname},'%')
      </if>
   </select>

</mapper>