<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.dao.StudentDao">

    <select id="login" parameterType="java.lang.String" resultMap="StudentRole">

        SELECT s.id,s.staccount,s.stdate,s.stmajor,s.stname,s.stpassword,s.stphone,s.stresume,s.stresumeid,s.stschool,s.ststate,s.stsystem, r.id roleid,r.rname ,p.id permid,p.permname,p.permurl from student s  LEFT JOIN stuandro sar on  s.id=sar.studentid LEFT JOIN role r on sar.roleid=r.id  LEFT JOIN permandro par on par.roleid=r.id LEFT JOIN permission p ON p.id=par.permid where s.id=(  SELECT id from student  where staccount=#{usercode} and stpassword=#{password} )

    </select>

    <resultMap id="StudentRole" type="com.zx.beans.Student">
        <id property="id" column="id"/>
        <result property="staccount" column="staccount"/>
        <result property="stdate" column="stdate"/>
        <result property="stmajor" column="stmajor"/>
        <result property="stname" column="stname"/>
        <result property="stpassword" column="stpassword"/>
        <result property="stphone" column="stphone"/>
        <result property="stresume" column="stresume"/>
        <result property="stresumeid" column="stresumeid"/>
        <result property="stschool" column="stschool"/>
        <result property="ststate" column="ststate"/>
        <result property="stsystem" column="stsystem"/>
        <collection property="roleList" column="id"  ofType="com.zx.beans.Role">
            <id property="id" column="roleid"/>
            <result property="rname" column="rname"/>
            <collection property="permissions" column="roleid"  ofType="com.zx.beans.Permission">
                <id property="id" column="permid"/>
                <result property="permname" column="permname"/>
                <result property="permurl" column="permurl"/>
            </collection>
        </collection>
    </resultMap>


    <insert id="Register">
        insert into student values (null,null,#{staccount},#{stpassword},#{stphone},#{stschool},#{stmajor},#{stsystem},#{stdate},null,0,null)
    </insert>

<!--
    <select id="loginHome" parameterType="java.lang.String" resultType="com.zx.beans.Student">
        SELECT *from student  where staccount = #{staccount}
    </select>
-->

    <select id="staccountIsSame" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT id   from  student  where staccount = #{staccount}
    </select>

    <select id="getStudentByIdAdmin" parameterType="int" resultType="com.zx.beans.Student">
        SELECT * from student  where id = #{id}
    </select>

    <select id="getStudentInfoById" parameterType="int" resultType="com.zx.beans.Student">
        select * from student where id = #{id}
    </select>

    <update id="updateinfoStudent" parameterType="com.zx.beans.Student">
        update student set staccount = #{student.staccount},stpassword = #{student.stpassword}, stphone = #{student.stphone},stschool = #{student.stschool},stmajor = #{student.stmajor},stsystem= #{student.stsystem} ,stdate = #{date} where id = #{student.id}
    </update>

    <select id="getStudentCountAdmin"  resultType="int">
        SELECT count(id) num from student
    </select>

    <!--<select id="getOccupationsByOcnameStudent"  resultType="int">
        SELECT * from occupation where ocname like #{ocname}%
    </select>
-->


</mapper>
